<div class="container w-100 d-flex justify-content-center align-items-center" style="height: 95vh; ">
    <div class="shadow p-3 mb-5 bg-white rounded text-center">
        <h2 class="text-muted">400 |  Bad Request</h2>
        <p class="text-secondary">
            Server couldn't proccess your request! try another request!
        </p>
        <a href="/" class="link ">Go Home</a>
    </div>
    
</div>
<p class="small text-center text-muted">&copy;AdDev</p>
