<div class="container w-100 d-flex justify-content-center align-items-center" style="height: 95vh; ">
    <div class="shadow p-3 mb-5 bg-white rounded text-center">
        <h2 class="text-muted">401 |  Unauthorized Access</h2>
        <p class="text-secondary">
            Your account is banned or you don't have an access to this page!  <br>
            contact us to know more..
        </p>
        <a href="/" class="link ">Go Home</a>
    </div>
    
</div>
<p class="small text-center text-muted">&copy;AdDev</p>
